/* font converted using font-converter.net. thank you! */
@font-face {
    font-family: "Montreal";
    src: url("./fonts/Montreal-Serial-Heavy-RegularItalic.eot"); /* IE9 Compat Modes */
    src: url("./fonts/Montreal-Serial-Heavy-RegularItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("./fonts/Montreal-Serial-Heavy-RegularItalic.otf") format("opentype"), /* Open Type Font */
      url("./fonts/Montreal-Serial-Heavy-RegularItalic.svg") format("svg"), /* Legacy iOS */
      url("./fonts/Montreal-Serial-Heavy-RegularItalic.ttf") format("truetype"), /* Safari, Android, iOS */
      url("./fonts/Montreal-Serial-Heavy-RegularItalic.woff") format("woff"), /* Modern Browsers */
      url("./fonts/Montreal-Serial-Heavy-RegularItalic.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }